/*  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    -drag: none;
    -webkit-user-drag: none;
}
.satisfy-font{
  font-family: 'Satisfy', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom Scrollbar */
::-webkit-scrollbar{
  width: 8px;
  background: #f9fafb;
}

::-webkit-scrollbar-track{
  background: #f3f4f6;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb{
  background: #9ca3af;
  border-radius: 8px;
  transition: all 0.5s ease-out;
}
::-webkit-scrollbar-thumb:hover{
  background: #6b7280;
  border-radius: 8px;
}

/*  */




/*  */